<a href="https://colab.research.google.com/github/ZzangJay/team_project/blob/kimjisan/221029_id_antibiotics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
%matplotlib inline

In [62]:
antibio=pd.read_csv('/content/drive/MyDrive/mimiciv preprocessing_js/icu_ab_join.csv')
sepsis3=pd.read_csv('/content/drive/MyDrive/mimiciv_der/sepsis3.csv')

In [63]:
stay_id=[]
for i in sepsis3['stay_id']:
  stay_id.append(i)

In [64]:
antibio.columns

Index(['subject_id', 'hadm_id', 'stay_id', 'icu_intime', 'icu_outtime', 'drug',
       'ab_starttime', 'ab_stoptime'],
      dtype='object')

In [65]:
antibio_sep=antibio[antibio['stay_id'].isin(stay_id)]

In [66]:
print(len(antibio))
print(len(antibio_sep))

371251
263770

In [67]:
antibio_sep

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime
10,10001884,26184834,37510196,2131-01-11 04:20:05,2131-01-20 08:27:30,vancomycin,2131-01-14 20:00:00,2131-01-16 07:00:00
11,10001884,26184834,37510196,2131-01-11 04:20:05,2131-01-20 08:27:30,amoxicillin-clavulanic acid,2131-01-12 11:00:00,2131-01-18 11:00:00
12,10001884,26184834,37510196,2131-01-11 04:20:05,2131-01-20 08:27:30,cefepime,2131-01-11 10:00:00,2131-01-12 10:00:00
13,10001884,26184834,37510196,2131-01-11 04:20:05,2131-01-20 08:27:30,sulfameth/trimethoprim ss,2131-01-11 08:00:00,2131-01-20 12:00:00
14,10001884,26184834,37510196,2131-01-11 04:20:05,2131-01-20 08:27:30,amoxicillin-clavulanic acid,2131-01-09 11:00:00,2131-01-11 05:00:00
...,...,...,...,...,...,...,...,...
371243,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,ampicillin sodium,2164-09-16 15:00:00,2164-09-17 21:00:00
371244,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,metronidazole (flagyl),2164-09-12 23:00:00,2164-09-13 08:00:00
371245,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,levofloxacin,2164-09-16 14:00:00,2164-09-16 14:00:00
371246,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00
371247,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00

In [124]:
bbio=antibio_sep['drug'].value_counts()

In [126]:
bbio.to_csv('/content/drive/MyDrive/mimiciv preprocessing_js/antibio_sep3',index=True)

In [68]:
antibio_sep_col=antibio_sep[['hadm_id', 'stay_id','drug','ab_starttime']]

In [69]:
antibio_sep_col.columns=['hadm_id', 'stay_id','drug','antibiotic_time']

In [70]:
antibio_sep_col=pd.merge(antibio_sep_col,sepsis3, on=['stay_id','antibiotic_time'])

In [71]:
len(sepsis3)

34678

In [72]:
antibio_sep_col.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42868 entries, 0 to 42867
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   hadm_id                   42868 non-null  int64
 1   stay_id                   42868 non-null  int64
 2   drug                      42868 non-null  object
 3   antibiotic_time           42868 non-null  object
 4   subject_id                42868 non-null  int64
 5   culture_time              42868 non-null  object
 6   suspected_infection_time  42868 non-null  object
 7   sofa_time                 42868 non-null  object
 8   sofa_score                42868 non-null  int64
 9   respiration               42868 non-null  int64
 10  coagulation               42868 non-null  int64
 11  liver                     42868 non-null  int64
 12  cardiovascular            42868 non-null  int64
 13  cns                       42868 non-null  int64
 14  renal                     42868 non-null  int64
 15  sepsis3                   42868 non-null  bool
dtypes: bool(1), int64(10), object(5)
memory usage: 5.3+ MB

In [73]:
antibio_sep_col.columns

Index(['hadm_id', 'stay_id', 'drug', 'antibiotic_time', 'subject_id',
       'culture_time', 'suspected_infection_time', 'sofa_time', 'sofa_score',
       'respiration', 'coagulation', 'liver', 'cardiovascular', 'cns', 'renal',
       'sepsis3'],
      dtype='object')

In [89]:
antibio_sep_col.sort_values(by=['hadm_id','antibiotic_time'])

        hadm_id   stay_id              drug      antibiotic_time
21351  20000147  30503572    cephalosporins  2121-08-30 20:00:00
25860  20001305  36916968    cephalosporins  2178-03-25 04:00:00
19717  20001361  33475095  fluoroquinolones  2143-05-04 21:00:00
19718  20001361  33475095       penicillins  2143-05-04 21:00:00
30546  20001687  37766114    cephalosporins  2196-06-13 13:00:00
...         ...       ...               ...                  ...
29905  29998702  37074618    cephalosporins  2190-11-14 12:00:00
21910  29999098  33475199     glycopeptides  2128-06-11 19:00:00
21911  29999098  33475199       penicillins  2128-06-11 19:00:00
14898  29999498  33874605    cephalosporins  2188-05-13 15:00:00
1480   29999625  36975675    cephalosporins  2157-11-07 14:00:00

[40001 rows x 4 columns]

In [92]:
antibio_sep_col=antibio_sep_col.drop_duplicates(subset=['hadm_id', 'stay_id', 'drug'], keep='first', inplace=False, ignore_index=False)

In [93]:
len(antibio_sep_col)

40001

In [94]:
antibio_sep_col=antibio_sep_col[['hadm_id', 'stay_id', 'drug', 'antibiotic_time']]

In [95]:
ab_class=pd.read_csv('/content/drive/MyDrive/mimiciv preprocessing_js/antibiotics_Class.csv')

In [98]:
for i in tqdm(antibio_sep_col['drug'],desc='convert',total=40001):
  for j in range(len(ab_class['Antibiotics'])):
    if i == ab_class['Antibiotics'][j] :
       antibio_sep_col['drug'].replace(i,ab_class['Class'][j],inplace=True)
    else : pass

convert: 100%|██████████| 40001/40001 [00:22<00:00, 1807.64it/s]

In [99]:
antibio_sep_col['drug'].value_counts()

glycopeptides                      12112
cephalosporins                     11110
penicillins                         6176
fluoroquinolones                    3690
nitroimidazole                      3069
macrolides                          1928
sulfonamides(diaminopyrimidine)      644
licosamides(lincomycin)              449
aminoglycosides                      325
tetracyclines                        236
monobactams                          149
nitrofuran(toin)                      76
rifamycins                            37
Name: drug, dtype: int64

In [100]:
antibio=antibio_sep_col

In [111]:
id_cepha=antibio[antibio['drug']=='cephalosporins'][['hadm_id','stay_id','antibiotic_time']].sort_values(by=['hadm_id','antibiotic_time'])
id_glyco=antibio[antibio['drug']=='glycopeptides'][['hadm_id','stay_id','antibiotic_time']].sort_values(by=['hadm_id','antibiotic_time'])
id_peni=antibio[antibio['drug']=='penicillins'][['hadm_id','stay_id','antibiotic_time']].sort_values(by=['hadm_id','antibiotic_time'])
id_fluoro=antibio[antibio['drug']=='fluoroquinolones'][['hadm_id','stay_id','antibiotic_time']].sort_values(by=['hadm_id','antibiotic_time'])
id_macro=antibio[antibio['drug']=='macrolides'][['hadm_id','stay_id','antibiotic_time']].sort_values(by=['hadm_id','antibiotic_time'])

In [112]:
id_cepha

        hadm_id   stay_id      antibiotic_time
21351  20000147  30503572  2121-08-30 20:00:00
25860  20001305  36916968  2178-03-25 04:00:00
30546  20001687  37766114  2196-06-13 13:00:00
38391  20003543  31193392  2158-12-23 06:00:00
10177  20006999  32160575  2127-06-18 13:00:00
...         ...       ...                  ...
32739  29998113  32711700  2129-10-06 13:00:00
36202  29998399  39492012  2112-05-09 18:00:00
29905  29998702  37074618  2190-11-14 12:00:00
14898  29999498  33874605  2188-05-13 15:00:00
1480   29999625  36975675  2157-11-07 14:00:00

[11110 rows x 3 columns]

In [114]:
dup

       hadm_id   stay_id      antibiotic_time
8456  20062363  31315394  2151-09-06 17:00:00
8457  20062363  34535022  2151-09-13 16:00:00
8458  20062363  35444421  2151-10-18 14:00:00

In [118]:
id_cepha.drop_duplicates(subset=['hadm_id'], keep='first', inplace=True, ignore_index=False)
id_glyco.drop_duplicates(subset=['hadm_id'], keep='first', inplace=True, ignore_index=False)
id_peni.drop_duplicates(subset=['hadm_id'], keep='first', inplace=True, ignore_index=False)
id_fluoro.drop_duplicates(subset=['hadm_id'], keep='first', inplace=True, ignore_index=False)
id_macro.drop_duplicates(subset=['hadm_id'], keep='first', inplace=True, ignore_index=False)

In [117]:
id_cepha[id_cepha['hadm_id']==20062363]

       hadm_id   stay_id      antibiotic_time
8456  20062363  31315394  2151-09-06 17:00:00

In [119]:
print(len(id_cepha))
print(len(id_glyco))
print(len(id_peni))
print(len(id_fluoro))
print(len(id_macro))

10963
11766
6072
3654
1920

In [121]:
id_cepha.to_csv('/content/drive/MyDrive/mimiciv preprocessing_js/id_cepha.csv',index=False)
id_glyco.to_csv('/content/drive/MyDrive/mimiciv preprocessing_js/id_glyco.csv',index=False)
id_peni.to_csv('/content/drive/MyDrive/mimiciv preprocessing_js/id_peni.csv',index=False)
id_fluoro.to_csv('/content/drive/MyDrive/mimiciv preprocessing_js/id_fluoro.csv',index=False)
id_macro.to_csv('/content/drive/MyDrive/mimiciv preprocessing_js/id_macro.csv',index=False)

In [122]:
# import pickle
# with open('/content/drive/MyDrive/mimiciv preprocessing_js/adm_stay_feature.pkl','rb') as f:
#     dict_ = pickle.load(f)

KeyboardInterrupt: ignored