<a href="https://colab.research.google.com/github/ZzangJay/team_project/blob/kimjisan/221015_icu_ab_both.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
pr_ab=pd.read_csv('/content/drive/MyDrive/mimiciv preprocessing/prescriptions_ab')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10,14,16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
icu_stay=pd.read_csv('/content/drive/MyDrive/mimiciv_unzip/icu/icustays.csv')

In [ ]:
micro_events=pd.read_csv('/content/drive/MyDrive/mimiciv_unzip/hosp/microbiologyevents.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (16) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
icu_stay

,subject_id,hadm_id,stay_id,first_careunit,last_careunit,intime,outtime,los
0,10000032,29079034,39553978,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2180-07-23 14:00:00,2180-07-23 23:50:47,0.410266
1,10000980,26913865,39765666,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2189-06-27 08:42:00,2189-06-27 20:38:27,0.497535
2,10001217,24597018,37067082,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-11-20 19:18:02,2157-11-21 22:08:00,1.118032
3,10001217,27703517,34592300,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2157-12-19 15:42:24,2157-12-20 14:27:41,0.948113
4,10001725,25563031,31205490,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2110-04-11 15:52:22,2110-04-12 23:59:56,1.338588
...,...,...,...,...,...,...,...,...
76938,19999442,26785317,32336619,Surgical Intensive Care Unit (SICU),Surgical Intensive Care Unit (SICU),2148-11-19 14:23:43,2148-11-26 13:12:15,6.950370
76939,19999625,25304202,31070865,Medical/Surgical Intensive Care Unit (MICU/SICU),Medical/Surgical Intensive Care Unit (MICU/SICU),2139-10-10 19:18:00,2139-10-11 18:21:28,0.960741
76940,19999828,25744818,36075953,Medical Intensive Care Unit (MICU),Medical Intensive Care Unit (MICU),2149-01-08 18:12:00,2149-01-10 13:11:02,1.790995
76941,19999840,21033226,38978960,Trauma SICU (TSICU),Surgical Intensive Care Unit (SICU),2164-09-12 09:26:28,2164-09-17 16:35:15,5.297766
76942,19999987,23865745,36195440,Trauma SICU (TSICU),Trauma SICU (TSICU),2145-11-02 22:59:00,2145-11-04 21:29:30,1.937847

In [ ]:
icu_time=icu_stay[['subject_id','hadm_id','stay_id','intime', 'outtime']]

In [ ]:
ab_time=pr_ab[['hadm_id','drug','starttime','stoptime']]

In [ ]:
icu_time.columns=['subject_id','hadm_id','stay_id','icu_intime', 'icu_outtime']

In [ ]:
icu_time

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime
0,10000032,29079034,39553978,2180-07-23 14:00:00,2180-07-23 23:50:47
1,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00
3,10001217,27703517,34592300,2157-12-19 15:42:24,2157-12-20 14:27:41
4,10001725,25563031,31205490,2110-04-11 15:52:22,2110-04-12 23:59:56
...,...,...,...,...,...
76938,19999442,26785317,32336619,2148-11-19 14:23:43,2148-11-26 13:12:15
76939,19999625,25304202,31070865,2139-10-10 19:18:00,2139-10-11 18:21:28
76940,19999828,25744818,36075953,2149-01-08 18:12:00,2149-01-10 13:11:02
76941,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15
76942,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30

In [ ]:
ab_time.columns=['hadm_id','drug','ab_starttime','ab_stoptime']

In [ ]:
ab_time

,hadm_id,drug,ab_starttime,ab_stoptime
0,22841357,sulfameth/trimethoprim ds,2180-06-26 23:00:00,2180-06-27 23:00:00
1,27988844,cefazolin,2183-09-19 12:00:00,2183-09-20 15:00:00
2,20823482,cefazolin,2145-04-25 00:00:00,2145-04-28 20:00:00
3,27897940,amoxicillin-clavulanic acid,2132-10-15 20:00:00,2132-10-19 00:00:00
4,20032235,ciprofloxacin hcl,2146-12-09 10:00:00,2146-12-12 13:00:00
...,...,...,...,...
678034,21033226,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00
678035,26071774,sulfameth/trimethoprim ds,2164-07-26 20:00:00,2164-07-26 13:00:00
678036,23865745,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00
678037,23865745,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00
678038,23865745,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00

In [ ]:
icu_ab_join = pd.merge(icu_time, ab_time, left_on='hadm_id', right_on='hadm_id', how='left')

In [ ]:
icu_ab_join

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime
0,10000032,29079034,39553978,2180-07-23 14:00:00,2180-07-23 23:50:47,NaN,NaN,NaN
1,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27,levofloxacin,2189-06-27 11:00:00,2189-06-28 11:00:00
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00
4,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-20 19:00:00,2157-11-22 02:00:00
...,...,...,...,...,...,...,...,...
394120,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00
394121,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00
394122,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00
394123,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00
394124,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00

In [ ]:
icu_ab_join['drug'].isna().sum()

21329

In [ ]:
icu_ab_join.dropna(subset=['drug','ab_starttime','ab_stoptime'], axis=0,inplace=True)

In [ ]:
icu_ab_join

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime
1,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27,levofloxacin,2189-06-27 11:00:00,2189-06-28 11:00:00
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00
4,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-20 19:00:00,2157-11-22 02:00:00
5,10001217,27703517,34592300,2157-12-19 15:42:24,2157-12-20 14:27:41,vancomycin,2157-12-23 09:00:00,2157-12-24 19:00:00
...,...,...,...,...,...,...,...,...
394120,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00
394121,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00
394122,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00
394123,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00
394124,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00

In [ ]:
icu_ab_join.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 371251 entries, 1 to 394124
Data columns (total 8 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   subject_id    371251 non-null  int64
 1   hadm_id       371251 non-null  int64
 2   stay_id       371251 non-null  int64
 3   icu_intime    371251 non-null  object
 4   icu_outtime   371251 non-null  object
 5   drug          371251 non-null  object
 6   ab_starttime  371251 non-null  object
 7   ab_stoptime   371251 non-null  object
dtypes: int64(3), object(5)
memory usage: 25.5+ MB

In [ ]:
icu_ab_join.to_csv('/content/drive/MyDrive/mimiciv preprocessing/icu_ab_join.csv',index=False)

In [24]:
icu_path = '/content/drive/MyDrive/mimiciv_unzip/icu/'
new_path = '/content/drive/MyDrive/mimiciv preprocessing/'
hos_path = '/content/drive/MyDrive/mimiciv_unzip/hosp/'

In [25]:
import pickle
with open(new_path+'adm_stay.pkl','rb') as f:
    dict_ = pickle.load(f)

admissions + icustay 불러오기 (hadm_id기준 labeling 한 데이터)

In [33]:
stay_dict=dict_

In [ ]:
dict_

In [59]:
stay_list=[]
for v in (list(dict_.values())):
  stay_list.append(v[0]['STAYID'])

In [60]:
len(stay_list)

69639

In [61]:
# for v in (list(dict_.values())):
#   print(v[0]['STAYID'])

In [62]:
icu_ab_join

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime
1,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27,levofloxacin,2189-06-27 11:00:00,2189-06-28 11:00:00
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00
4,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-20 19:00:00,2157-11-22 02:00:00
5,10001217,27703517,34592300,2157-12-19 15:42:24,2157-12-20 14:27:41,vancomycin,2157-12-23 09:00:00,2157-12-24 19:00:00
...,...,...,...,...,...,...,...,...
394120,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00
394121,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00
394122,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00
394123,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00
394124,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00

In [65]:
icu_ab_st=icu_ab_join[icu_ab_join['stay_id'].isin(stay_list)]

In [67]:
icu_ab_st.columns

Index(['subject_id', 'hadm_id', 'stay_id', 'icu_intime', 'icu_outtime', 'drug',
       'ab_starttime', 'ab_stoptime'],
      dtype='object')

In [69]:
stay_list_js=icu_ab_join['stay_id'].unique()

In [74]:
len(set(stay_list))

69639

In [76]:
len(set(stay_list)&set(stay_list_js))

48989

In [77]:
stay_list_both=list(set(stay_list)&set(stay_list_js))

In [78]:
icu_ab_both=icu_ab_join[icu_ab_join['stay_id'].isin(stay_list_both)]

In [79]:
icu_ab_both

,subject_id,hadm_id,stay_id,icu_intime,icu_outtime,drug,ab_starttime,ab_stoptime
1,10000980,26913865,39765666,2189-06-27 08:42:00,2189-06-27 20:38:27,levofloxacin,2189-06-27 11:00:00,2189-06-28 11:00:00
2,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-22 04:00:00,2157-11-23 10:00:00
3,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,metronidazole (flagyl),2157-11-23 10:00:00,2157-11-25 22:00:00
4,10001217,24597018,37067082,2157-11-20 19:18:02,2157-11-21 22:08:00,vancomycin,2157-11-20 19:00:00,2157-11-22 02:00:00
5,10001217,27703517,34592300,2157-12-19 15:42:24,2157-12-20 14:27:41,vancomycin,2157-12-23 09:00:00,2157-12-24 19:00:00
...,...,...,...,...,...,...,...,...
394120,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,vancomycin,2164-09-15 20:00:00,2164-09-16 12:00:00
394121,19999840,21033226,38978960,2164-09-12 09:26:28,2164-09-17 16:35:15,piperacillin-tazobactam na,2164-09-15 12:00:00,2164-09-16 12:00:00
394122,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-08 20:00:00,2145-11-09 15:00:00
394123,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,sulfameth/trimethoprim ds,2145-11-09 20:00:00,2145-11-11 17:00:00
394124,19999987,23865745,36195440,2145-11-02 22:59:00,2145-11-04 21:29:30,vancomycin,2145-11-05 20:00:00,2145-11-08 09:00:00

In [ ]:
icu_ab_both